head {
    background-color: hotpink;
}

body {
    align-content: center;
    background-image: linear-gradient(direction, color-stop1, color-stop2, ...);
    padding: 20px;
}

.logo {
    margin-top: 30px;
    border-image-outset: 5px;
    align-self: center;
}




      

     
   