
body {
    align-content: center;
    background-image: linear-gradient(direction, color-green, color-yellowgreen);
    padding: 20px;
}

.logo {
    margin-top: 30px;
    border-image-outset: 5px;
    align-self: left;
}

#header {
    background-color: palevioletred;
}




      

     
   