#nav{
  margin-left: 50px
}

body { 
      background-color: yellowgreen;
      display: inline-block;
      text-align: justify;
      text-decoration-color: rgb(48, 5, 5);text-emphasis: bold;

     }
   